/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";*/

#fps {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 32px;
	font-size: 32px;
	text-align: right;
	z-index: 9999;
}

.Query {
	position: relative;
}

.Query:hover .popover {
	left: -100%;
	width: 100%;
	display: block;
}